<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Performance Test BHI Web</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="/js/functions.js"></script>
</head>
<body>
<h1 id="title1" class="tittleC1">BHI Website Performance Testing</h1>
<form name="form1" action="/pointrelease" method="post" onsubmit="return validarForma(this)">
    <p>Choose your environment</p>
    <select name="environment" class="default">
        <option value="">Select....</option>
        <option value="1">Sprint</option>
        <option value="2">Point Release</option>
        <option value="3">Strategic 1</option>
        <option value="4">Strategic 2</option>
        <option value="5">Strategic 3</option>
        <option value="6">Strategic 4</option>
    </select>
    <input type="submit" value="Run Test" class="default">
</form>
</body>
</html>