<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Performance Test BHI Web<</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>BHI Website Performance Testing</h1>
<div><a href="otra">Back to Home Site</a></div>
<form name="form1" action="/kill" method="post">
    <p>Stop Process</p>
    <input type="submit" value="Stop" class="default">
    <a href="/">Back to Home</a>
</form>
</body>
</html>